.container{
    
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    
    
}
#containerTable{
   
    width: 100%;
    height: auto;
  position: relative;
  margin: 2px auto;
  text-align: left;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  vertical-align:middle;
 
}


.row div  {
    margin-bottom: 0;
    padding: 0;
    display: inline-block;
   

}
.row div input{
    width: 3em;
    height: 2em;
    font-size: 0.77em;
    border: 0.165em solid red;
    border-radius: 50%;
    text-align: center;
    outline:none;
}

.row div input:focus{
    
    border: 0.165em solid yellow ;
    
}
#buttonSubmit{
    
    background-color: yellow;
    border: 0.165em solid red;
    border-radius: 25%;
width: auto;
font-size: 1em;
position: relative;
margin-top: 1em;
margin: auto;
}